@media only screen and (min-width:830px){
    .wrapper{
        padding:25px 60px 0 60px;
    }
.first-part{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.texts{
    width:50vw;
    font-size: 14px;
}
.camera-img{
    width:200px;
    height:190px;
}
.second-part{
    margin-top: 50px;
    width:500px;
}
}
@media only screen and (min-width: 1400px){
.wrapper{
    padding:20px 120px 0 120px;
}
h1{
    font-size: 55px;
}
    .texts{
        font-size: 22px;
        width:700px;
        line-height: 36px;
    }
    .camera-img{
        width:360px;
        height:340px;
    }
    span{
        font-size: 25px;
    }
    .second-part-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
         margin-top: 50px;

    }
    .second-part{
        width:850px;
        margin-top: 0;
       
    }
    .second-part p{
            font-size: 18px;
            width: 150px;
            margin-right: 40px;
    }
    .img{
        display: inline;
        width:230px;
        height:219px;
    }
    .second-part p{
        font-size: 11px;
        }
    
}